# Database
MONGODB_URI=mongodb://localhost:27017/billz_microservice

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Billz API
BILLZ_TOKEN=your_billz_token_here
BILLZ_SHOP_ID=your_shop_id_here

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_GROUP_ID=your_group_id_here

# App
PORT=3000
NODE_ENV=development
